<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Management Application</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>

<header>
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: blue">
        <div>
            <a href="https://www.xadmin.net" class="navbar-brand">User Management Application</a>
        </div>
        <ul class="navbar-nav">
            <li><a th:href="@{/list}" class="nav-link">Users</a></li>
        </ul>
    </nav>
</header>
<br>

<div class="container">
    <h3 class="text-center">List of Users</h3>
    <hr>
    <div class="text-left">
        <a th:href="@{/new}" class="btn btn-success">Add New User</a>
    </div>
    <br>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Country</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${listUser}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.country}"></td>
            <td>
                <a th:href="@{/edit(id=${user.id})}">Edit</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="@{/delete(id=${user.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
